<h1> Stats Calculation
</h1>
<form action="/descriptive_statistics_results">
<div><label for="a">
  Numbers
  <Input id="a" type="text" name="statistics_numbers" placeholder="Enter a list of numbers (separated by spaces)">
  </div>

  <div><Button> Calculate descriptive statistics </button></div>
</form>
