<h1>
  Different calculators
</h1>
<div>
  <a href="/square/new">Square Form</a>
</div>
<div>
  <a href="/square_root/new">Square Root Form</a>
</div>
<div>
  <a href="/payment/new">Payment Form</a>
</div>
<div>
  <a href="/random/new">Random Form</a>
</div>
<div>
  <a href="/word_count/new">Word Count Form</a>
</div>
<div>
  <a href="/descriptive_statistics/new">Stats Form</a>
</div>
