<h1> Payment Calculation
</h1>
<form action="/payment/results">
<div><label for="a">
  APR
  <Input id="a" type="text" name="apr" placeholder="E.g.5.42">
  </div>
  <div><label for="b">
    Number of years
    <Input id="b" type="text" name="number_of_years" placeholder="How many years to repay?">
    </div>
    <div><label for="c">
      Principal
      <Input id="c" type="text" name="principal" placeholder="How much principal?">
      </div>
  <div><Button> Calculate monthly payment </button></div>
</form>
