<h1> Random Calculation
</h1>
<form action="/random/results">
<div><label for="a">
  Minimum
  <Input id="a" type="text" name="starting_number" placeholder="E.g.1.5">
  </div>
  <div><label for="b">
    Maximum
    <Input id="b" type="text" name="ending_number" placeholder="E.g.4.5">
    </div>
  <div><Button> Pick random number </button></div>
</form>
