<h1> Square Calculation
</h1>
<form action="/square/results">
<div><label for="firstinput">
  Enter a number
  <Input id="firstinput" type="text" name="user_number" placeholder="What number do you want to square?">
  </div>
  <div><Button> Calculate square </button></div>
</form>
