<h1> Square Resuls
</h1>
<div><label>
  Number
  </label>
</div>
<div>
<%=@number%>
</div>
<div>
<label>
  Square
</label>
</div>
<div>
<%=@number**2%>
</div>
<a href="/square/new">Calculate another square </a>
