<h1> Square Calculation
</h1>
<form action="/square/results">
<label for="firstinput">
  Enter a number
  <Input id="firstinput" type="text" name="user_number" placeholder="What number do you want to square?">
  <Button> Calculate square </button>
</form>

<a href="/flexible/square/5">Go back home </a>
