<h1> Square Root Resuls
</h1>
<div><label>
  Number
  </label>
</div>
<div>
<%=@number%>
</div>
<div>
<label>
  Square Root
</label>
</div>
<div>
<%=@number**0.5%>
</div>
<a href="/square_root/new">Calculate another square root </a>
