<h1> Word Count Calculation
</h1>
<form action="/word_count/results">
<div><label for="a">
  Text
  <Input id="a" type="text" name="text_input" placeholder="Enter some text">
  </div>
  <div><label for="b">
    Special word
    <Input id="b" type="text" name="special_word_input" placeholder="Enter a particular word to count">
    </div>
  <div><Button> Process text </button></div>
</form>
